* {
  box-sizing: border-box;
}

html {
  font-family: Avenir, Helvetica, "Open-Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
}

body{
  display: grid;
  margin: 0;
  min-height: 100vh;
  place-items: center;
}

ol {
  /*...*/
  display: grid;
  width: 500px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
  list-style: none;
  margin: auto;
}

li {
  /*...*/
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  aspect-ratio: 1;

}

li span {
  /*...*/
height: 100%;

}

li:nth-child(1) span {
  transform: rotate(140deg);
}

li:nth-child(2) span {
  transform: rotate(180deg);
  border-top:60px solid green;
  border-width: 100%;
  flex: 1;
}

li:nth-child(3) span {
  transform: rotate(180deg);
  border-top:60px solid green;
  border-width: 100%;
  flex: 1;
}


li:nth-child(4) span {
  transform: rotate(180deg);
  border-top:60px solid green;
  border-width: 100%;
  flex: 1;
}


li:nth-child(12) span {
  border-top:60px solid rgb(67, 65, 180);
  border-width: 100%;
  flex: 12;
}

li:nth-child(11) span {
  border-top:60px solid rgb(67, 65, 180);
  border-width: 100%;
  flex: 12;
}


li:nth-child(10) span {
  border-top:60px solid rgb(67, 65, 180);
  border-width: 100%;
  flex: 12;
}

li:nth-child(8) span {
  border-top:60px solid rgb(255, 124, 17);
  border-width: 100%;
  flex: 12;
}

li:nth-child(7) span {
  border-top:60px solid rgb(255, 124, 17);
  border-width: 100%;
  flex: 12;
}


li:nth-child(6) span {
  border-top:60px solid rgb(255, 124, 17);
  border-width: 100%;
  flex: 12;
}

li:nth-child(14) span {
  border-top:60px solid rgb(247, 167, 233);
  border-width: 100%;
  flex: 12;
}

li:nth-child(15) span {
  border-top:60px solid rgb(247, 167, 233);
  border-width: 100%;
  flex: 12;
}

li:nth-child(16) span {
  border-top:60px solid rgb(247, 167, 233);
  border-width: 100%;
  flex: 12;
}

li:nth-child(3) span {
  transform: rotate(180deg);
}

li:nth-child(4) span {
  transform: rotate(180deg);
}

li:nth-child(5) span {
  transform: rotate(215deg);
}

li:nth-child(6) span {
  transform: rotate(270deg);
}

li:nth-child(7) span {
  transform: rotate(270deg);
}

li:nth-child(8) span {
  transform: rotate(270deg);
}

li:nth-child(9) span {
  transform: rotate(310deg);
}

li:nth-child(13) span {
  transform: rotate(45deg);
}

 li:nth-child(14) span {
  transform: rotate(90deg);
}

 li:nth-child(15) span {
  transform: rotate(90deg);
}

 li:nth-child(16) span {
  transform: rotate(90deg);
}

li:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

li:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

li:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}

li:nth-child(4) {
  grid-row: 1;
  grid-column: 4;
}

li:nth-child(5) {
  grid-row: 1;
  grid-column: 5;
}

li:nth-child(6) {
  grid-row: 2;
  grid-column: 5;
}

li:nth-child(7) {
  grid-row: 3;
  grid-column: 5;
}

li:nth-child(8) {
  grid-row: 4;
  grid-column: 5;
}

li:nth-child(9) {
  grid-row: 5;
  grid-column: 5;
}

li:nth-child(10) {
  grid-row: 5;
  grid-column: 4;
}

li:nth-child(11) {
  grid-row: 5;
  grid-column: 3;
}

li:nth-child(12) {
  grid-row: 5;
  grid-column: 2;
}

li:nth-child(13) {
  grid-row: 5;
  grid-column: 1;
}

li:nth-child(14) {
  grid-row: 4;
  grid-column: 1;
}

li:nth-child(15) {
  grid-row: 3;
  grid-column: 1;
}

li:nth-child(16) {
  grid-row: 2;
  grid-column: 1;
}

img{
  width: 200px;

}